<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title></title>
</head>
<body>
<div class = "header">
<img src="{{ url_for('static', filename='Newimg/logo.png') }}">
<h1>Lumo</h1>
</div>

<div class = "main">
    <h1>Привет!</h1>
    <h2>введите имя и пароль</h2>
    
    <form method="post">
        <input type="text" name="name"placeholder="ваше имя" required>
        <input type="text" name="password"placeholder="ваш пароль" required>
        <div class = "button" ><button type ="submit"> Отправить </button> </div>
    </form>
    <div class = registration>
        <h4>еще нет аккаунта?</h4>
        <h4>жми сюда - </h4>
        <div class = "buttonReg" ><button type ="submit"> Зарегистрироваться </button> </div>


    </div>
</div>
</body>
</html>